input{
    padding: 5px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;

    background-color: rgb(227, 231, 235);
}

.btn{
    padding: 5px 10px;
    background-color: none;
    font-size: 1em;
    color: green;
    border: 1px solid green;
    border-radius:5px;
}

.btn:hover{
    background-color: green;
    color: white;
    border: 2px solid white;
}

input:hover{
    border: 2px solid green;
}

td{
    padding: 8px;
    text-align: center;
}

th{
    padding: 8px;
    text-align: center;
}
